.cyto {
    overflow: hidden;
}

.closebutton{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
  
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;

    height: 8px;
    margin-top: -4px;

  }

  .flexContainer {
      display: flex;
      position: relative;
  }

  .flexCyto {
    border-radius: 7px;
    flex:9;
    border: 2px solid black;
  }

  .flexCytoSidebar {
    flex: 1;
    position: inherit;
    left: 25%;
    right: 25%;
    width: inherit;
    height: inherit;
  }